<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="height: 100vh;">
    <canvas id="diagonal-line"></canvas>
  </body>

  <script>
    const canvas = document.getElementById('diagonal-line');
    const context = canvas.getContext('2d');

    function drawDiagonalLine() {
      const width = canvas.width;
      const height = canvas.height;
      const lineWidth = 1; // 线宽
      const gapWidth = 60; // 间隔宽度

      context.clearRect(0, 0, width, height);
      context.strokeStyle = 'black';
      context.lineWidth = lineWidth;
      console.log('width:' + width)

      // for (let i = -width; i < width; i += lineWidth + gapWidth) {
      //   console.log('i:' + i)
      //   console.log('i + width:' + (i + width))
      //   console.log('height:' + height)
      //   context.beginPath();
      //   context.setLineDash([10, 10]);
      //   context.moveTo(i, 0);
      //   context.lineTo(i + width, height);
      //   context.stroke();
      // }

      for (let i = 0; i < 2 * width; i += lineWidth + gapWidth) {
        console.log('i:' + i)
        console.log('i + width:' + (i + width))
        console.log('height:' + height)
        context.beginPath();
        context.setLineDash([10, 10]);
        context.moveTo(i, 0);
        context.lineTo(i - width, height);
        context.stroke();
      }
    }

    // 设置 canvas 宽高
    canvas.width = 1000;
    canvas.height = 1000;

    // 绘制斜虚线
    drawDiagonalLine();
  </script>
</html>
